.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;

  @include font ($fw:500, $lh:1.14);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
