.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.advantages__item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);

    margin-bottom: 0px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &::before {
    display: block;
    width: 100%;
    content: '';

    height: 120px;
    margin-bottom: 30px;

    background-color: $secondary-background-color;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--add-img-antenna::before {
    background-image: url(../images/antenna.svg);
  }

  &--add-img-clock::before {
    background-image: url(../images/clock.svg);
  }

  &--add-img-diagram::before {
    background-image: url(../images/diagram.svg);
  }

  &--add-img-astronaut::before {
    background-image: url(../images/astronaut.svg);
  }
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;

  color: $title-text-color;

  @include font($fw: 700, $lh: 1.14);
  text-transform: uppercase;
}

.advantages__description {
  @include font($lh: 1.71);

  color: $primary-text-kolor;
}
