.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;

  @include font(36, 700, 1.16, 0.03em);

  text-align: center;

  color: $title-text-color;
}

.client-card {
  width: 170px;
  height: 92px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.client-card__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.client-card__svg {
  fill: currentColor;
}
